input, select, button, textarea, option {
	font-size:12px;
}

.fill {
	min-height: 100%; 
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    height: 100%;
}


.hdr-contents {
	min-width:900px;
	padding:0px;  
	width:100%;
}

#hdr {
	position:relative;
	height:178px;
	width:100%;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(left, #D5C1A0 0%, #E3DAC9 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #D5C1A0 0%, #E3DAC9 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(left, #D5C1A0 0%, #E3DAC9 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #D5C1A0), color-stop(1, #E3DAC9));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #D5C1A0 0%, #E3DAC9 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to right, #D5C1A0 0%, #E3DAC9 100%);
}

#logo {
	position:absolute;
	left:77px;
	top:15px;
	background-color:white;
	height:150px;
	width:167px;
}

#quality {
    margin-left: auto;
    margin-right: auto;
	width:618px;
	height: 178px;
}

#logo-special {
	position:absolute;
	top:15px;
	right:380px;
	width:182px;
	height:153px;
}

#login {
	font-size:.8em;
	position:absolute;
	top:0px;
	right:72px;
	background-color:#9b8158;
	width:261px;
	height:153px;
	
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;

  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#login input{
	font-size:1em;
	padding: 2px;
	padding:2px;
	background-color:#ebe6de;
	border-width:0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-image:none;
  width:240px;	
}

button.login, a.login {
	font-weight:bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:4px;
	border-width:0px;
	background-color:#ddceb6;
	background-image: none;
	color:#8e7247;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;	
-moz-box-shadow: 2px 2px #66553a;
-webkit-box-shadow: 2px 2px #66553a;
box-shadow: 2px 2px #66553a;
}

button.login:hover, a.login:hover {
	font-weight:bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:4px;
	border-width:0px;
	background-color:#ddceb6;
	background-image: none;
	color:#8e7247;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;	
-moz-box-shadow: 2px 2px #66553a;
-webkit-box-shadow: 2px 2px #66553a;
box-shadow: 2px 2px #66553a;
}

a.forgot-password {
	color: #ddceb6;
}

div.login-content {
	padding:3px;
	padding-left:10px;
	
}

div.login-label {
	color:white;
	font-weight:bold;
	padding-top:6px;
	padding-left:10px;
}

#hdr-bar {
	background-color:#957b52;
	height:25px;
}

.contents {
	background: white url(../img/bkg.png) repeat-y top left;
	min-width:900px;
	padding:0px;  
	width:100%;
}

.side-nav {
	position:relative;
	background:transparent url(../img/nav-bkg.png) repeat-y top left;
	width:241px;
	margin-left:40px;
}

.feature {
	background:transparent url(../img/feature-picture.png) no-repeat top right;
	height:262px;
	position:relative;
}

.feature-txt {
	position:absolute;
	top:70px;
	left:10px;
	padding:4px;
}

.feature-btn {
	position:absolute;
	top:125px;
	left:60px;
}

.brown-bar {
	background-color:#957b52;
	height:3px;
	margin-left:-250px;
}

.side-nav-container{
	padding:6px;
}

.side-nav-container div{
	width:230px;
	text-align:center;
}

.side-nav-container a {
	color: black;
	font-weight:bold;
}

.side-nav-container .address {
	color: black;
	font-weight:bold;
	font-size:1.0em;
}

.side-nav-container .address a{
	color:#0d59a6;
	font-size:1.1em;
}

.side-nav-submission-block {
	margin-left:-2px;
	height:108px;
	background-color:#bea681;
}

.side-nav-submission-block div {
	padding:2px;
	text-align:center;	
}

.side-nav-submission-block .small {
	font-size:1.1em;
	color:white;
}

.side-nav-submission-block .large {
	font-size:1.6em;
	color:white;
}

.side-nav-seal {
	margin-left:0px;
	margin-top:10px;
	margin-bottom:30px;
}

.headlines {
	padding-top:50px;
	text-align:center;
}

.learn-more {
	padding-top:20px;
	text-align:center;
}

fieldset > div {
	padding-right:40px;
}

#service-level-table{
	width: 580px !important;
	min-width: 580px !important;
}

label{
	font-weight: bold;
}

.header_row{
	background: url(../img/header_bg.png) repeat-x;
	height: 98px;
	width: 100%;
}

.header_row_inner{
	padding: 36px 0px 0px 82px;
	font-size: 30px;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0px 3px 7px #333;
	-moz-text-shadow: 0px 3px 7px #333;
}

body{
	margin: 0px;
	height: 100% !important;
}

#wrap{
	width: 1000px;
	margin-left: 80px;
}