/*
Theme Name: Review Quality Notes Blog Theme
Reset
-------------------------------------------------------------- */
.clearfix{
	clear:both;
}
#content{
	min-width: 900px;
	padding: 0px;
	width: 100%;
}
.single textarea{
	width:100%;
}
.post{
	border-bottom:1px solid #cec;
	padding-bottom: 25px;
	margin-bottom: 20px;
}
.single .post{
	border-bottom:none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.post h1,
.post h1 a{
	font-size:30px;
	margin-bottom:0;
}
.post h3{
	font-size:18px;
}
.post .post-details{
	display:block;
	font-style:italic;
	margin-bottom:20px;
}